<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input
    [(ngModel)]="subjectAbbr"
    label="Subject abbreviation"
    label-placement="floating"
    fill="solid"
    placeholder="Enter text"
  ></ion-input>

  <ion-button expand="block" (click)="searchClicked()">Search</ion-button>
</ion-content>
